.itemDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px;
    height: 500px;
}
.itemDetail picture .imgItemDetail {
    height: 500px;
}
.itemDetail .containerItemDetail  {
    padding: 10px;
    width: 400px;
    height: 500px;
}
.itemDetail .containerItemDetail header {
    padding: 10px 0;
}
.itemDetail .containerItemDetail .sectionItemDetail p {
    padding: 10px 0;
}
.itemDetail .containerItemDetail .sectionItemDetail .priceItemDetail {
    font-size: 28px;
}
.itemDetail .containerItemDetail .footerItemDetail .titleDescriptionItemDetail {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
}
.itemDetail .containerItemDetail .footerItemDetail .descriptionItemDetail {
    font-size: 13px;
}