nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #007BFF;
}
.containerLogo {
    display: flex;
    align-items: center;
}
nav img {
    width: 150px;
    cursor: pointer;
    margin-right: 50px;
}
.containerSearch {
    display: flex;
    background-color: #f5f5f5;
    align-items: center;
    padding: 3px;
}
.containerSearch input {
    background-color: #f5f5f5;;
    width: 500px;
    height: 35px;
    padding: 10px;
    border: none;
    border-right: 1px solid #92929288;;
    outline: none;
    font-size: 16px;
}
.containerSearch i {
    font-size: 18px;
    color: #929292;
    padding: 0 10px;
    cursor: pointer;
}
.listNav {
    display: flex;
}
.listNav .liNav {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    position: relative;
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
    padding: 3px;
    align-self: center;
}
.listNav .liNav:nth-child(n + 1):nth-child(-n + 4)::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform: scalex(0);
    transform-origin: bottom right;

    transition: transform 0.5s ease-out;
}
.listNav .liNav:nth-child(n + 1):nth-child(-n + 4):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.listNav .activeLiNav {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    position: relative;
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
    padding: 3px;
    align-self: center;
}
.listNav .activeLiNav:nth-child(n + 1):nth-child(-n + 4)::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform: scalex(1);
    transform-origin: bottom right;

    transition: transform 0.5s ease-out;
}
.listNav .liNav i {
    margin-right: 8px;
    font-size: 22px;
}