.counter {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
}
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.controls .counterQuantity {
    padding: 5px;
}
.button {
    background-color: #007BFF;
    border: 1px solid #888888;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #F5F5F5;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 13px;
    cursor: pointer;
}
.buttonAdd {
    width: 100%;
}